h2{
    color: #da0978;
    font-size: 150%;
    
}
.hireme{
    background-color:rgb(212, 84, 105);
    text-align: center;
    font-size: 17px;
    color: cornsilk;
}
.header_image{
    height: 200px;
    width: 200px;
}
.header{
    float: left;
}
.cv{
    background-color:rgb(236, 29, 209);
    text-align: center;
    font-size: 17px;
    color: cornsilk;
}
.bio_image{
    height: 200px;
    width: 200px;
}
.bio{
    float: left;
    
}
.working{
    height:300px;
    width: 400px;
}
.last{
    background-color:rgb(173, 22, 128);
    color: cornsilk;
}