section{
    height: 600px;
}

.header_detail{
    float: left;
    width: 40%;
    padding: 5%;

}
.header_bg{
    background-image: url(images/header.jpg.png);
    background-repeat: no-repeat;
    height: 600px;
}
.jack{
    color: rgb(184, 8, 96);
}
.hireme{
    background-color: indigo;
    color: ivory;
}
.header_detail img{
    width: 60%;
    margin-top: -10%;
}
.bio{
    background-image: url(images/biography.jpg.png);
    background-repeat: no-repeat;
    height: 600px;
}

.bio_detail{
    float: left;
    width: 40%;
    padding: 5%;
}
.bio_detail img{
    width: 60%;
    margin-top: -10%;
}
.center
{
    text-align: center;
    margin-bottom: 6%;
}
.one_third{
    float: left;
    width: 33%;
}
.one_third img{
    width: 85%;
    padding-left: 10%;;
}
.work{
    background-image: url(images/latest.jpg.png);
    background-repeat: no-repeat;
    height: 600px;
}
h3{
    margin-top: 2%;
}
.founder{
    color: darkgray;
    margin-top: -1%;

}
.lorem{
    margin-top: 2%;
    font-weight: bold;
}
.last_button{
    background-color: indigo;
    color:ivory;
    margin-top: 3%;
    border-radius: 12px;
    width: 30%;
}
footer{
    text-align: center;
    background-image: url(images/footer.jpg.png);
    background-repeat: no-repeat;
    height: 600px;
}
.copy_write{
    color: darkgray;
    margin-top: 5%;
}
